/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2015, 12:41:11 PM
    Author     : TreWhite
*/
body{
	font-family: 'Futura Today',Helvetica,Arial,sans-serif;
	overflow: hidden;
	min-width: 1100px;
	margin: 0;
	padding: 0;
	letter-spacing: 0.25px;
}
.body-content{
	background: #ffffff;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.container{
	margin: 0 auto;
	padding: 0;
}
.container-wrapper{
	width: 100%;
}
.container-wrapper.middle{
	background: #f0f0f0;
	padding: 30px 10px;
	border-bottom: 1px solid #D5D5D5;
	overflow: hidden;
}
.col-lg-12{
	padding: 0;
	margin: 0;
}
.container-wrapper.bottom{
	color: #ADADAD;
	font: 12px 'Futura Today',Helvetica,Arial,sans-serif;
	padding-top: 15px;
}
nav.navbar{
	position: relative;
	margin-bottom: 0;
	padding: 0 15px;
}
a.navbar-brand{
	padding: 0 10px;
	font-size: 14px;
	color: #fff!important;
	font-family: 'Futura Today Demibold',Helvetica,Arial,sans-serif;
	height: 50px;
	line-height: 46px;
	padding-right: 25px;
}
a.navbar-brand span{
	vertical-align: middle;
}
a.navbar-brand .logo, .footer-image{
	background-image: url("/img/logo.png");
	background-size: 22px;
	height: 23px;
	width: 27px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.footer-image{
	background-size: 19px;
	width: 22px;
	background-image: url("/img/logo-lite.png")
}
h1{
	margin: 10px 20px;
	padding-bottom: 10px;
	font-family: 'Futura Today Demibold',Helvetica,Arial,sans-serif;
	color: #817E7E;
	border-bottom: 1px solid #D5D5D5;
	font-size: 14px;
}
h2{
	margin: 0 0 5px 0;
	padding-bottom: 10px 0;
	font-family: 'Futura Today Demibold',Helvetica,Arial,sans-serif;
	color: #817E7E;
	border-bottom: 1px solid #D5D5D5;
	font-size: 14px;
}
.form-horizontal h1{
	margin: 0 15px 5px 5px;
	padding: 10px 0;
	color: #24AFB2;
}
.form-horizontal h1.line{
	margin-left: 0px!important;
}
h1 span {
	background: #fff;
	padding: 0 15px 0 0;
	margin: 0;
}
h1.line{
	background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, rgba(36, 175, 178, 0.5) 50%, rgba(36, 175, 178, 0.5) 50.5%, #fff 50.5%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #fff 50%, rgba(36, 175, 178, 0.5) 50%, rgba(36, 175, 178, 0.5) 50.5%, #fff 50.5%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fff 50%, rgba(36, 175, 178, 0.5) 50%, rgba(36, 175, 178, 0.5) 50.5%, #fff 50.5%, #fff 100%);
	background: linear-gradient(top, #fff 0%, #fff 50%, rgba(36, 175, 178, 0.5) 50%, rgba(36, 175, 178, 0.5) 50.5%, #fff 50.5%, #fff 100%);
	border: none;
}
.box-container {
	background: #fff;
	border-radius: 3px;
	padding: 10px 20px;
}
.form-horizontal{
	padding: 10px 20px;
}
.form-horizontal button{
	line-height: 10px;
	color: #24AFB2;
	background: #f0f0f0;
	border-radius: 4px;
	border: 1px solid #D5D5D5;
	white-space: nowrap;
	padding: 10px 22px;
	font-size: 14px;
}
label {
	padding-bottom: 5px;
}
table .form-group{
	margin-left: -10px!important;
}
table .form-group.table-buttons{
	text-align: right;
	padding: 25px 25px 0 0;
}
.form-horizontal button:hover{
	background: #24AFB2;
	color: #fff;
	border: 1px solid #D5D5D5;
}
.form-horizontal button.delete{
	margin-right: 5px;
}
.form-control{
	font-size: 13px;
}
.form-horizontal .form-group label{
	text-align: left;
	color: #908989;
	font-family: 'Futura Today',Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-size: 13px;
}
.form-horizontal.edit-url{
	padding: 0;
	margin-left: 5px;
}
.glyphicon{
	color: #24AFB2;
}
.col-sm-1 {
  text-align: center;
}
nav.navbar .user{
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	display: inline-block;
}
nav.navbar .user:after{
	font-family: fontawesome;
	content: '\f007';
	padding-left: 3px;	
}
input#logout{
	height: 20px;
	line-height: 0px;
	width: 62px;
	text-align: center;
	padding: 0;
	margin-left: 10px;
	background: #24AFB2;
	font-family: "Futura Today";
	font-size: 12px;
	border: none;
}
nav .navbar-right{
	padding: 0;
	margin: 0;
	height: 50px;
	line-height: 47px;
	overflow: hidden;
}
.center-panel{
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.center-panel .search-urls{
	width: calc(25% - 30px);
	float: left;
	margin-right: 30px;
	min-height: 739px;
}
.center-panel .create-url, .center-panel .view-urls{
	width: calc(75%);
	float: left;
	margin-bottom: 30px;
}
a.collapsed h1{
	border: none;
	padding-bottom: 0;
}
.collapsable a h1:after{
	font-family: fontawesome;
	float: right;
	font-size: 18px;
	margin-right: 15px;
}
.collapsable a.collapsed h1:after{
	content: "\f103";
}
.collapsable a h1:after{
	content: "\f102";
}
tr.edit-form{
	border-right: 1px solid #ddd;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
tr[aria-expanded="true"]{
	border-left: 4px solid #24AFB2;
}
tr[aria-expanded="false"]{
	border-left: 4px solid transparent;
}
tr{
	cursor: default;
	color: rgba(153, 153, 153, 1);
	border-left: 4px solid transparent;
}
tr i.fa{
	color: rgba(153, 153, 153, 0.7);
}
tr.collapsed{
	cursor: pointer;
	color: #575757;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
tr.collapsed i.fa{
	color: rgba(87, 87, 87, 0.9);
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
tr.collapsed:hover i.fa, tr.collapsed.open i.fa{
	color: #24AFB2;
}
tr.collapsed:hover{
	color: #24AFB2;
	border-left: 4px solid #24AFB2;
}
tr.collapsed.open{
	border-left: 4px solid #24AFB2;
	border-bottom: 1px solid #24AFB2;
	color: #24AFB2;
}
tbody tr.odd{
	background-color: #f9f9f9;
}
h1.title:before{
	font-family: fontawesome;
	padding-right: 5px;
	font-size: 14px;	
}
.create-url h1.title:after{
	margin-right: 0!important;
}
.create-url h1.title{
	margin-right: 35px
}
.create-url h1.title:before{
	content: "\f055";
}
.search-urls h1.title:before{
	content: "\f002";
}
.view-urls h1.title:before{
	content: "\f0c1";
}
.view-urls h1.title{
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
form#createForm button#create{
	margin: 10px 0;
	float: right;
}
a, a:hover{
	text-decoration: none!important;
}
a:hover h1{
	color: #24AFB2;
}
.center-panel .view-urls{
	min-height: 654px;
}
select{
	text-overflow: ellipsis;
}
.table-responsive{
	padding: 0 20px;
}
th {
	color: #868181;
	font-weight: normal;
}
td{
	font-size: 13px;
}
i.fa{
	color: #24AFB2;
}
td i.fa{

}
/*Font declarations*/
@font-face{font-family:'Futura Today';src:url(/fonts/futura_today_normal.eot);src:url(/fonts/futura_today_normal.eot?#iefix) format('embedded-opentype'),url(/fonts/futura_today_normal.woff) format('woff'),url(/fonts/futura_today_normal.ttf) format('truetype');font-style:normal}
@font-face{font-family:'Futura Today DemiBold';src:url(/fonts/futura_today_demibold.eot);src:url(/fonts/futura_today_demibold.eot?#iefix) format('embedded-opentype'),url(/fonts/futura_today_demibold.woff) format('woff'),url(/fonts/futura_today_demibold.ttf) format('truetype');font-style:normal}
@font-face{font-family:'Futura Today Bold';src:url(/fonts/futura_today_bold.eot);src:url(/fonts/futura_today_bold.eot?#iefix) format('embedded-opentype'),url(/fonts/futura_today_bold.woff) format('woff'),url(/fonts/futura_today_bold.ttf) format('truetype'),url(/fonts/futura_bold-webfont.svg#FuturaBold) format('svg');font-style:normal}
@font-face{font-family:'Futura Today Light';src:url(/fonts/futura_today_light.eot);src:url(/fonts/futura_today_light.eot?#iefix) format('embedded-opentype'),url(/fonts/futura_today_light.woff) format('woff'),url(/fonts/futura_today_light.ttf) format('truetype'),url(/fonts/futura_today_light.svg#FuturaLight) format('svg');font-style:light}
